@import url("https://use.typekit.net/ldl6glq.css");
@import url("https://use.typekit.net/rou4nud.css");

h2{
font-family: active, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 45px;
color: #6a2e2d ;
}


p.description{
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 14px;
  text-align: center;
  color: white ;

}

p.fiche_personnage{
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 14px;
  text-align: center;
  color: white ;
}


h1{
  font-family: active, sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 45px;
  color: #6a2e2d ;
}


#titre_parametre {
  font-family: active, sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 80px;
  color: #6a2e2d ;

}

.texte_parametre{
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 25px;
  color: white ;
}


.texte1_para
{
  font-family: niveau-grotesk, sans-serif;
  color: white ;
  text-align: center;
  margin-right: -20px;
  margin-left: 910px;
  margin-top: -120px;
    font-size: 25px;
}

.texte2_para
{
  font-family: niveau-grotesk, sans-serif;
  color: white ;
  text-align: center;
  margin-top: -120px;
  margin-right: 250px;
  font-size: 25px;

}

.texte3_para
{
  font-family: niveau-grotesk, sans-serif;

  color: white ;
  text-align: center;
  margin-top: 200px;
margin-left: 800px;
  font-size: 25px;

}

.texte4_para
{
  font-family: niveau-grotesk, sans-serif;
  color: white ;
  text-align: center;
  font-size: 25px;
  margin-top: -200px;
  margin-bottom: 180px;
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 25px;
  color: white ;

}

