@import url("https://use.typekit.net/ldl6glq.css");
@import url("https://use.typekit.net/rou4nud.css");

h2{
font-family: active, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 45px;
color: #6a2e2d ;
}


p.description{
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 14px;
  text-align: center;
  color: white ;

}

p.fiche_personnage{
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 14px;
  text-align: center;
  color: white ;

}




h1{
  font-family: active, sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 45px;
  color: #6a2e2d ;
}


#titre_parametre {
  font-family: active, sans-serif;
  font-style: normal;
  font-weight: 50;
  font-size: 80px;
  color: #6a2e2d ;

}

.texte_parametre{
  font-family: niveau-grotesk, sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 25px;
  color: white ;
}
